[flake8]
per-file-ignores =
    libs/modules/me_modules_sys.py:WPS420
    libs/me_utilities.py:WPS420
    practice.py:WPS111 WPS442 WPS420 WPS430 WPS441
ignore=
    B901,
    EXE002,
    E203,
    E266,
    E501,
    W503,
    E800,
    WPS331,
    WPS112,
    WPS114,
    WPS201,
    WPS203,
    WPS226,
    WPS462,
    WPS326,
    WPS231,
    WPS421,
    WPS223,
    WPS202,
    WPS433,
    WPS301,
    WPS440,
    WPS232,
    WPS221,
    WPS336,
    WPS323,
    WPS402,
    WPS432,
    WPS464,
    WPS305,
    WPS111,
    WPS213,
    T001,
    C812

allowed-domain-names=
    result
    data
    val
    item
    foo
    bar
    
max-line-length=110
select=B,C,E,F,W,T,B
max-complexity=18
